
<div class="shadow p-3 mb-5 bg-body-tertiary rounded-lg border border-primary mt-4 ">
    <h1 class="text-danger">  @Model.Name</h1>
    <p class="text-black-50"> Age: @Model.Age</p>
    <p class="text-black-50">Email: @Model.Email</p>
    <p class ="text-black-50">Score: @Model.Score</p>
</div>
